{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div class="hello-form">
        {{ render_form(form, action=request.full_path) }}
    </div>
    <h5>{{ messages|length }} messages
        <small class="float-right">
            <a href="#bottom" title="Go Bottom">&darr;</a>
        </small>
    </h5>
    <div class="list-group">
        {% for message in messages %}
            <span class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ message.name }}
                        <small class="text-muted"> #{{ loop.revindex }}</small>
                    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ message.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                           data-delay="500">
                        {{ moment(message.timestamp).fromNow(refresh=True) }}
                    </small>
                </div>
                
                <p class="mb-1">
                    {{ message.body }}
                    {% if message.has_hidden_message %}
                        <a class="decode_btn" href="{{ url_for('decode_img', id=message.id) }}" target="_self" onclick="return confirm('Σ(ŎдŎ|||)ﾉﾉ \n\n真的要看吗？！')" title="Decode!">
                            Decode!
                        </a>
                    {% else %}
                        <span class="decode_btn"
                            onclick="alert('真的没有藏信息\n\n QAQ')" title="Decode!">
                            竟然没有藏信息?!
                        </span>
                    {% endif %}
                    
                </p>

                {# <form class="inline-form" method="post" action="{{ url_for('decode_img', id=message.id) }}"></form>
                    <input class="decode_btn" type="submit" value="Decode!" name="decode" onclick="return confirm('真的要看吗？！')">
                </form> #}

                <p class="faker-comment-p">
                {% if message.fake %}
                    <s class="faker-comment">来自 faker 生成的狗屁不通的测试文字</s>
                {% endif %}
                </p>
                <img src={{ photos.url(message.img_file_name) }} alt="Example Image" class="post_img">
            </span>
        {% endfor %}
    </div>
{% endblock %}
