body {
    background-color: rgb(245, 245, 245) !important;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.container {
    max-width: 640px !important;
}

.hello-form {
    margin-bottom: 20px;
}

header {
    margin: 50px 0 40px 0;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
}

.sub-title {
    font-size: 32px;
}

@media screen and (max-width: 600px) {
    .sub-title {
        display: block;
    }
}

header a {
    text-decoration: none !important;
}

footer {
    margin: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.post_img {
    width: 100%;
    height: auto;
}

.faker-comment {
    color: gray;
    font-size: 14px;
}

.faker-comment-p{
    text-align: right;
}